<html>
    <body bgcolor=white>

        <center>

        <h1 style="color:black"> Welcome to predictor 10.000</h1>
        <h2 style="color:black"> the #1 perdictor for your bootcamp needs</h2><br>
        <h2 style="color:black">your prediction for the next 30 days</h2>

        <p style="text-align :right">
        {% for table in tables %}
        {{titles[loop.index]}}
        {{ table|safe }}
        {% endfor %}
        </p>
        <p style="text-align :left"></p>
        <img src="./static/my_plot.png">
        <br>


       
        
        <a href="/"><input type="submit" , value='home' >
        </a>
